body {
    margin: 0px;
    text-align: center;

}

.cabecalho {
    background-color: rgb(48, 172, 64);
    display: flex;
    min-height: 10vh;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    
}

.cabecalho img {
    width: 9em;
}

.nome {
    margin: 0px 0px 5px 0px;
    color: rgb(22, 80, 22);
}

.logo-t {
    background-color: white;
    padding: 5px;

}

.home {
    width: 12em;
    height: 44px;
    border-radius: 16px;
    font-size: medium;
    background-color: white;
    border-color: rgb(22, 80, 22);
    color: rgb(22, 80, 22);
}

.a :c {
    border-color: rgb(29, 115, 29);
    color: rgb(29, 115, 29);
    padding: 2px 7px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    margin: 3em 1em;
    align-items: center;
    gap: 2px;
}

.grid p {
    text-align: start;
}

.dicas_e_img {
    text-align: center;
}

.dicas_e_img li {
    text-align: start;
}

#s {
    width: 400px;
    height: 35px;
    border-radius: 10px;
}

.lixeira {
    width: 26em;
}

p {
    margin: 2em 20%;
    font-size: 22px;
}

.dicas {
    margin: 2em auto 2em 16em;
    list-style: none;
    font-size: 22px;
}
