body {
    margin: 0px;
    text-align: center;

}

.cabecalho {
    background-color: rgb(48, 172, 64);
    display: flex;
    min-height: 10vh;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    
}

.cabecalho img {
    width: 9em;
}

.nome {
    margin: 0px 0px 5px 0px;
    color: rgb(22, 80, 22);
}

.logo-t {
    background-color: white;
    padding: 5px;

}

.home {
    width: 12em;
    height: 44px;
    border-radius: 16px;
    font-size: medium;
    background-color: white;
    border-color: rgb(22, 80, 22);
    color: rgb(22, 80, 22);
}

.a :c {
    border-color: rgb(28, 115, 28);
    color: rgb(29, 115, 29);
    padding: 2px 7px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    margin: 4em 3em;
    padding: 10px;
    align-items: center;
    gap: 2px;
    background-color: lightgreen;
    border-style: solid;
    border: 5px;
    border-color: black;
}

.grid p {
    text-align: start;
}

.dicas_e_img {
    text-align: center;
    background-color:  rgb(9, 115, 29);
    margin: 1em 225px;
    padding: 1em;
}

.dicas_e_img ul {
    margin: 0px 10px;
}

.dicas_e_img li {
    text-align: start;
}

#s {
    width: 400px;
    height: 35px;
    border-radius: 10px;
    color: black;
}

.lixeira {
    width: 26em;
}

button:hover { 
    border-color: green;
    background-color: rgb(239, 255, 246);
    font-weight: bolder;
}

p {
    margin: 2em 20%;
    font-size: 22px;
}

.dicas {
    margin: 0px 10px;
    list-style: none;
    font-size: 22px;
}

.obj h2 {
    color: darkgreen;
} 
